@page
@model LoginModel

@{
    ViewData["Title"] = "Login";
}

@*<div class="row">
        <div class="col-md-4">
            <section>
                <form id="account" method="post">
                    <h4>Use a local account to log in.</h4>
                    <hr />
                    <div asp-validation-summary="All" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Input.Email"></label>
                        <input asp-for="Input.Email" class="form-control" />
                        <span asp-validation-for="Input.Email" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Input.Password"></label>
                        <input asp-for="Input.Password" class="form-control" />
                        <span asp-validation-for="Input.Password" class="text-danger"></span>
                    </div>

                </form>
            </section>
        </div>
    </div>*@

<h1 class="text-center mt-2">@ViewData["Title"] </h1>
<hr class="bg-primary w-75">
<form class="mx-auto w-50" method="post">

    <div asp-validation-summary="All" class="text-danger"></div>

    <div class="form-group">
        <div class="label-holder text-white d-flex justify-content-center">
            <label asp-for="Input.UserName" class="h3 mb-2"></label>
        </div>
        <input type="text" class="form-control" asp-for="Input.UserName" />
        <span asp-validation-for="Input.UserName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <div class="label-holder text-white d-flex justify-content-center">
            <label asp-for="Input.Password" class="h3 mb-2">Password</label>
        </div>
        <input type="password" class="form-control" asp-for="Input.Password" />
        <span asp-validation-for="Input.Password" class="text-danger"></span>
    </div>
    <div class="button-holder d-flex justify-content-center">
        <button type="submit" class="btn btn-block btn-primary text-white mb-3">Login</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
